<%- include('partials/_header') %>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div id="slider-izquierdo" class="card-img-overlay" style="top: 80px;">
      <button class="btn btn-light"> < </button>
    </div>

    <div class="slider-screen">
      <img name="Imagen" class="d-block w-100">
    </div>
    
    <div id="slider-derecho" class="card-img-overlay" style="top: 80px; left: 360px;">
      <button class="btn btn-light"> > </button>
    </div>
  </div>
</div>
  <% data.forEach((propiedad,index) => {%>
    <% if (propiedad.propiedad == 409){ %>
    <h4><%= propiedad.propiedad %></h4>
    <h2><%= propiedad.ubicacion %></h2>
    <button><a href="/">INICIO</a></button>
    <script src="slider.js"></script>
    <script src="posts.js"></script>
  <% }}) %>
  </body>
</html>