<%- include('partials/_header') %>

<% data.forEach((propiedad,index) => {%>

  <% if (propiedad.propiedad == '409') {} }); %>


        </div>
      <button><a href="/">INICIO</a></button>
  </body>
</html>