<%- include('partials/_header') %>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div id="slider-izquierdo" class="card-img-overlay" style="top: 80px;">
      <button class="btn btn-light"> < </button>
    </div>

    <div class="slider-screen">
      <img name="Imagen" class="d-block w-100">
    </div>
    
    <div id="slider-derecho" class="card-img-overlay" style="top: 80px; left: 360px;">
      <button class="btn btn-light"> > </button>
    </div>
  </div>
</div>

    <h2> CIUDAD JARDIN </h2>
    <button><a href="/">INICIO</a></button>
  </body>
</html>