<%- include('partials/_header') %> %>
<div class="bg-image" style="background-image: url('https://www.wradio.com.co/resizer/v2/4W6Y44XNYVELZDLIJY43AQQ5R4.JPG?auth=fb5d6449b30edf568d29ae525edcd8a875d25a56cef8fb64af0b600443be52de&width=650&height=488&quality=70&smart=true'); background-repeat: no-repeat; background-size: cover;height: 740px;">
  <div class="text-center text-light bg-primary p-4">
    <h1 class="" id="titul">Apartamentos amoblados por días, semanas y meses</h1>
  </div>

  <div class="justify-content-center d-flex mt-4">
    <ul class="list-group text-center">
      <li type="button"><a href="/ciudad-jardin" class="btn btn-lg"><h4 class="p-1 text-light">Ciudad Jardin</h4></a></li>
      <li type="button"><a href="/granadillo" class="btn btn-lg"><h4 class="p-1 text-light">Granadillo</h4></a></li>
      <li type="button"><a href="/la-campina" class="btn btn-lg"><h4 class="p-1 text-light">La Campiña</h4></a></li>
      <li type="button"><a href="" class="btn btn-lg"><h4 class="p-1 text-light">Paraiso</h4></a></li>
      <li type="button"><a href="" class="btn btn-lg"><h4 class="p-1 text-light">Tivoli</h4></a></li>
      <li type="button"><a href="" class="btn btn-lg"><h4 class="p-1 text-light">Villa Carolina</h4></a></li>

    </ul>
  </div>
</div>

</body>
</html> 