<%- include('partials/_header') %> %>
<div class="bg-image" style="background-image: url('https://mejoreszonas.com/wp-content/uploads/2018/08/D%C3%B3nde-alojarse-en-Barranquilla-Colombia.jpg'); background-repeat: no-repeat; background-size: cover;height: 740px;">
  
  <div class="bg-primary text-light p-4 d-flex justify-content-center">
    <h1 class="col-lg-7 display-5 text-center" id="titul">Apartamentos amoblados por días, semanas y meses</h1>
  </div>

  <div class="justify-content-center d-flex mt-3">
    <ul class="list-group text-center">
      <li class="border border-1 bg-primary my-2" type="button"><a href="/ciudad-jardin" class="btn"><h4 class="p-1 text-light">Ciudad Jardin</h4></a></li>
      <li class="border border-1 bg-primary my-2" type="button"><a href="/granadillo" class="btn"><h4 class="p-1 text-light">Granadillo</h4></a></li>
      <li class="border border-1 bg-primary my-2" type="button"><a href="/la-campina" class="btn"><h4 class="p-1 text-light">La Campiña</h4></a></li>
      <li class="border border-1 bg-primary my-2" type="button"><a href="/paraiso" class="btn"><h4 class="p-1 text-light">Paraiso</h4></a></li>
      <li class="border border-1 bg-primary my-2" type="button"><a href="/tivoli" class="btn"><h4 class="p-1 text-light">Tivoli</h4></a></li>
      <li class="border border-1 bg-primary my-2" type="button"><a href="/villa-carolina" class="btn"><h4 class="p-1 text-light">Villa Carolina</h4></a></li>

    </ul>
  </div>
</div>

</body>
</html> 