<%- include('partials/_header') %> %>
<div class="bg-image" style="background-image: url('https://scontent.fbaq5-1.fna.fbcdn.net/v/t1.6435-9/121286506_10157527082764249_8022005922119522099_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEylxE3rpvfnWRJz_qCzDfrnH03OLiNZXGcfTc4uI1lcQt0uxx1TIFL8A_TnfidOwU&_nc_ohc=yc44MqYvy9wAb6bV6h-&_nc_ht=scontent.fbaq5-1.fna&oh=00_AfC1wzlePFmz6tuSchvBvb3b57G0q4jYvYLHoxZ-J30mTQ&oe=664F95E2'); background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; height: 900px;">
  
  <div class="text-light text-shadow p-4 d-flex justify-content-center">
    <h1 class="col-lg-7 display-5 text-center " id="titul" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Apartamentos amoblados por días, semanas y meses</h1>
  </div>

  <div class="justify-content-center d-flex mt-3">
    <ul class="list-group text-center d-grid gap-2 col-lg-2 col-6">
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/ciudad-jardin" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Ciudad Jardin</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/granadillo" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Granadillo</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/la-campina" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">La Campiña</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/paraiso" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Paraiso</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/tivoli" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Tivoli</h4></a></li>
      <li class="border border-1 bg-outliner-primary my-2" type="button"><a href="/villa-carolina" class="btn"><h4 class="p-1 text-light" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Villa Carolina</h4></a></li>

    </ul>
  </div>
</div>

<br><br><br>


</body>
</html> 